<md-dialog aria-label="Add player"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Creating new player</h2>
        <span flex></span>
        <md-button ng-click="closeDialog()">
          X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
              <label>Player Name</label>
              <input ng-model="newPlayer.name" md-autofocus>
          </md-input-container>
        </div>
        <!-- <div layout-gt-sm="row">
          <md-input-container class="md-block">
              <label>Rank</label>
              <input ng-model="newPlayer.rank" type="number">
          </md-input-container>
        </div> -->
        {{message}}
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="closeDialog()">
        Cancel
      </md-button>
      <span flex></span>
      <md-checkbox ng-model="addAnother" aria-label="Checkbox 1">
        Add another
      </md-checkbox>
      <md-button class="md-raised md-primary" ng-click="addNewPlayer()" style="margin-right:20px;">
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
